<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>531635005389-anc7c47sbuhcc1osdg4redvr70ld8vn6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.531635005389-anc7c47sbuhcc1osdg4redvr70ld8vn6</string>
	<key>API_KEY</key>
	<string>AIzaSyDBHYmdi0RocjKbENVcO5FtRfZ9q0yRgjE</string>
	<key>GCM_SENDER_ID</key>
	<string>531635005389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.peakabu.app</string>
	<key>PROJECT_ID</key>
	<string>peakabu-app</string>
	<key>STORAGE_BUCKET</key>
	<string>peakabu-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:531635005389:ios:21fe3ceb12a215c13f0684</string>
</dict>
</plist>